<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/element-ui-2.13.2.css">
    <script src="/vue.js"></script>
    <script src="/element-ui-2.13.2.js"></script>
    <script src="/axios.min.js"></script>
</head>
<body>
        <div id="app">

            <el-row>
                <el-input placeholder="请输入用户名" style="width: 240px" v-model="adminName"></el-input><br>
                <el-input placeholder="请输入账户" style="width: 240px" v-model="account"></el-input><br>
                <el-input placeholder="请输入密码" style="width: 240px" v-model="pwd"></el-input><br>
                <el-input placeholder="请输入手机号" style="width: 240px" v-model="phone"></el-input><br>
            </el-row>
            <el-row>
                <el-button type="primary" @click="add">注册</el-button>
            </el-row>
        </div>

        <script>
            var vm = new Vue({
                el:"#app",
                data:{
                    adminName:'',
                    account:'',
                    pwd:'',
                    phone:''
                },
                methods:{
                    add:function () {
                        //调用axios发送到后台
                        alert("发送了axios");
                        axios.post("/admin/addByShiro",{
                           adminName:this.adminName,
                            adminAccount:this.account,
                            adminPwd:this.pwd,
                            adminPhone:this.phone
                        }).then(res=>{
                            console.log(res)
                            if(res.data.code == 10000){
                                this.$alert("注册成功","成功",{
                                    confirmButtonText:"确定",
                                    callback:action => {
                                }
                                });
                        }else{
                            this.$alert('注册失败', '注册失败', {
                                confirmButtonText: '确定',
                                callback: action => {
                                this.$message({
                                    type: '请重新输入',
                                    message: `action: ${ action }`
                                });
                        }
                        });
                        }
                    });
                    }
                }
            })
        </script>
</body>
</html>